*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-weight: 600;
    color: #0000009e;
    font-family: Viner Hand ITC;
    transition: filter 0.5s ease;
}

a {
    text-decoration: none;
    color: #000000;
}

button:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/portfolio.png);
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* filter: blur(10rem); */
}

#mouse {
    z-index: 2;
    position: fixed;
    top: -10rem;
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
    mix-blend-mode: difference;
    transform: translate(-50%, -50%) scale(1);
    border: #2f2f2f solid 0.15rem;
    pointer-events: none;
    border-radius: 50%;
    transition: transform 0.2s, opacity 0.2s, background 0.2s, left 0.1s,
    top 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner {
    height: 0.2rem;
    width: 0.2rem;
    border-radius: 50%;
    background: #2f2f2f;
    transition: opacity 0.2s, transform 0.2s;
}

main {
    font-size: 4rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    transition: filter 2s, opacity 2s;
}

.naam {
    filter: invert(100%);
    height: 7rem;
    width: 56rem;
    object-fit: cover;
}

.text {
    display: flex;
    gap: 1rem;
}

.info {
    font-family: Tw Cen MT;
    font-weight: 400;
    font-size: 3rem;
    color: #00000097;
    animation-name: popup;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border-bottom: #00000000 solid 1px;
    transition: 0.1s;
}

p.info:hover {
    border-bottom: black solid 1px;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 4rem;
    right: 10rem;
    display: flex;
    gap: 3rem;
}

#darkmode,
#taal {
    border: none;
    background: none;
    font-size: 3rem;
    font-family: Viner Hand ITC;
    transition: 0.5s;
}

#darkmode {
    height: 4rem;
    width: 4rem;
    animation-name: spin;
    animation-duration: 1.5s;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    30% {
        opacity: 0;
        transform: translateY(5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        rotate: 360deg;
        scale: 0.1;
    }
    100% {
        scale: 1;
    }
}
